{% extends "base.html" %}

{% block content %}


<div class="categories">
            <a href="#">{{ product.category.parent.parent }}</a> /
            <a href="#">{{ product.category.parent }}</a> /
            <a href="#">{{ product.category.name }}</a> 
</div>
<div class="product-details">
    <div class="product-details-image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-details-info">
        <p>{{ product.brand }}</p>
        <h1 class="product-title">{{ product.name }}</h1>
        <div class="product-text">
            <p>Описание</p>
            <p>{{ product.desc }}</p>
            <p>Цена</p>
            <p>{{ product.price }} ₽</p>
    </div>
    
    
</div>

{% endblock %}
