{% load static %}
<header>
    <div class="logo">
        <a href="{% url "index" %}">
            <img src="{% static "img/logoWb.svg" %}" alt="logo">
        </a>
    </div>
    <nav>
        <div class="nav-links">
            <div class="nav-link"><a href="#">Каталог</a></div>
            <div class="nav-link"><a href="#">О нас</a></div>
            <div class="nav-link"><a href="#">Контакты</a></div>

            <div class="nav-link">
                <a href="{% url 'cart' %}">🛒 Корзина</a>
            </div>
        </div>
    </nav>
</header>
